.main-block {
    display: block;
    width: 70%;
    margin: auto;
    max-width: 920px;
}

.items-block {
    display: none;
}
.items-block table {
    width: 100%;
}

.empty-block {
    display: none;
}

.search-block {
    padding-bottom: 1em;
}
.search-input-block {
    overflow: hidden;
    padding-right: .5em;
}
.search-block input {
    width: 100%;
}
.search-block button {
    float: right;
}

.display-block {
    display: block !important;
}

.display-none {
    display: none !important;
}

table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}